.header {
  background-color: #abc69c;

  justify-content: space-around;

  span {
    color: #591d59;
  }

  nav {
    align-self: center;
    i {
      padding-top: 0.6rem;
      color: #591d59;
    }
  }
}
